services:
  web:
    build: .
    ports:
      - "5000:5000"
    secrets:
      - db_password

  db:
    image: "postgres:18.0-alpine3.22"
    secrets:
      - db_password
    environment:
      POSTGRES_USER: 11cloud2
      POSTGRES_DB: 11cloud2_pings
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - db_data:/var/lib/postgresql/data
    expose:
      - 5432

volumes:
  db_data:

secrets:
  db_password:
    file: db_password.txt